<div id="owlaccedo" class="owl-carousel owl-theme">
 <% movies.forEach( movie => { %>
    <div class="item link img-box text-box">
      <img src="<%= movie.cover %>" href="film?url=<%=movie.url%>&id=<%=movie.id%>&title=<%=movie.title%>&duration=<%=movie.duration%>&cover=<%=movie.cover%>" movie="<%= movie.url %>" width="200" height="450" class="d-inline-block align-top" alt="<%= movie.title %>">
      <h4><%=movie.title%></h4>
    </div>
 <% }) %>
</div>
<div class="customNavigation">
  <a class="btn prev">Previous</a>
  <a class="btn next">Next</a>
</div>
<br>
<% if(user) { %>
  <h3>Movies Whatched</h3>
  <div id="owluser" class="owl-carousel owl-theme">
    <% watched.forEach( watch => { %>
       <div class="item text-box">
         <img src="<%= watch.cover %>" width="200" height="200" class="d-inline-block align-top" alt="<%= watch.title %>">
         <p><%= watch.title %></p>
       </div>
    <% }) %>
   </div>
<% } %>